<div class="container">
  <div class="row">
    <div class="col-12 col-md-8">
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
          <label for="accountType">Account Type</label>
          <div class="radio" *ngFor="let type of accountType">
            <input
              type="radio"
              formControlName="accountType"
              [value]="type"> {{ type }}
          </div>
        </div>

        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            formControlName="name"
            class="form-control">
          <span
            *ngIf="!signupForm.get('name').valid && signupForm.get('name').touched"
            class="form-text text-muted">Please enter a Name!</span>
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="text"
            id="email"
            formControlName="email"
            class="form-control">
            <span
            *ngIf="!signupForm.get('email').valid && signupForm.get('email').touched"
            class="form-text text-muted">Please enter a valid Email!</span>
        </div>

        <div class="form-group">
          <label for="streetAddress">Street Address</label>
          <input
            type="text"
            id="streetAddress"
            formControlName="streetAddress"
            class="form-control">
            <span
            *ngIf="!signupForm.get('streetAddress').valid && signupForm.get('streetAddress').touched"
            class="form-text text-muted">Please enter a Street Address!</span>
        </div>

        <div class="form-group">
          <label for="city">City</label>
          <input
            type="text"
            id="city"
            formControlName="city"
            class="form-control">
            <span
            *ngIf="!signupForm.get('city').valid && signupForm.get('city').touched"
            class="form-text text-muted">Please enter a City!</span>
        </div>

        <div class="form-group">
          <label for="country">Country</label>
          <select
            class="form-control"
            id="country"
            formControlName="country"
            placeholder="Select Country">
            <option>United States</option>
            <option>Canada</option>
            <option>Mexico</option>
            <option>Other</option>
          </select>
          <span
            *ngIf="!signupForm.get('country').valid && signupForm.get('country').touched"
            class="form-text text-muted">Please enter a Country!</span>
        </div>

        <div class="form-group">
          <label for="zipCode">Zip Code</label>
          <input
            type="text"
            id="zipCode"
            formControlName="zipCode"
            class="form-control">
            <span
            *ngIf="!signupForm.get('zipCode').valid && signupForm.get('zipCode').touched"
            class="form-text text-muted">Please enter a Zip Code!</span>
        </div>

        <div formArrayName="skills">
          <h4>Your Skills</h4>
          <button
            class="btn btn-secondary"
            type="button"
            (click)="onAddSkill()">Add Skill</button>
          <div class="form-group"
          *ngFor="let skillControl of signupForm.get('skills').controls; let i = index">
            <input type="text" class="form-control" [formControlName]="i">
          </div>
        </div>

        <br>

        <span
            *ngIf="!signupForm.valid && signupForm.touched"
            class="form-text text-muted">Please enter valid data!</span>
        <button
        class="btn btn-primary"
        type="submit">Submit</button>

      </form>
    </div>
  </div>
</div>
